/* Pretty Stuff? */



/* Arrow */

.arrow {
  position: relative;
  margin: 0 auto;
  width: 60px;
   transform: rotate(-58deg);
  -webkit-transform: rotate(-58deg);
  -moz-transform: rotate(-58deg);
  -ms-transform: rotate(-58deg);
}

.arrow .curve {
  border: 29px solid #43DD65;
  border-color: transparent transparent transparent #43DD65;
  height: 300px;
  width: 1200px;
  border-radius: 230px 0 0 150px;
}

.arrow .point {
  position: absolute;
  left: 32px;
  top: 257px;
}

.arrow .point:before,
.arrow .point:after {
  border: 14px solid #43DD65;
  height: 45px;
  content: "";
  position: absolute;
}

.arrow .point:before {
  top: -24px;
  left: -17px;
  transform: rotate(-74deg);
  -webkit-transform: rotate(-74deg);
  -moz-transform: rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -45px;
  left: 12px;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
}
